html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: #787878; */
}

::-webkit-scrollbar {
  display: none;
}

:root {
  /* FONT SIZE */
  --title-font-size: 5.5rem;
  --body-font-size: 1.1rem;
  --label-font-size: 0.9rem;

  /* MISC */
  /* --margin: 1.4rem; */
  --margin: 1.1rem;
  --golden-ratio: 1.618;
  --transition-time: 0.75s;
  --thumb-pin: 0.5rem;

  /* COLORS */
  --yellow: #ffd900;
  --orange: #ef9900;
  --purple: #a366ff;
  --blue: #52b4ff;
  --green: #8ed000;
  --black: #0f0a0a;
  --grey: #e1e1e1;

  --light-yellow: #feec8c;
  --light-orange: #ffd285;
  --light-purple: #ceadff;
  --light-blue: #addcff;
  --light-green: #d6eaae;

  /* --white: rgb(246, 244, 245); */
  --white: rgb(255, 255, 255);
  /* --white: #e1e1e1; */
  --faded-white: rgba(246, 244, 245, 0.9);

  /* CHARACTERS SECTION */
  --text-box-y: 6vh;
  --text-box-x: 32.5vw;
  --text-box-height: 28vh;
  --text-box-width: 35vmax;
}

body {
  /* color: #333; */
  margin: 0;
  box-sizing: border-box;
  font-family: "Old-Standard-TT";
  color: var(--black);
  line-height: 1.4;
}

.italic {
  /* color: var(--yellow); */
  font-family: "Old-Standard-TT-Italic";
}

.bold {
  font-family: "Old-Standard-TT-Bold";
}

.yellow-sticky {
  /* background-color: #fff09c; */
  border: 0.5px solid #e1e1e1;
}

.webpage-section {
  margin-bottom: calc(var(--margin) * 2);
}

.character-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--margin) / 2);
  background-color: var(--white);
  font-size: var(--label-font-size);
  width: fit-content;
  padding: calc(var(--margin) / 2);
  position: absolute;
}

.svg-container {
  width: 45vw;
  /* height: 90vh; */
  z-index: 15;
}

.text-section {
  height: 90vh;
  /* max-width: 25vw;  */
  color: var(--black);
  padding: var(--margin);
  /* margin-bottom: var(--margin);  */
  font-size: var(--body-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  background-color: var(--faded-white);
  height: fit-content;
  max-width: 25vw;
  padding: var(--margin);
}

.highlight {
  position: relative;
  background: linear-gradient(
    to right,
    var(--highlight-color) 50%,
    transparent 50%
  );
  /* color: var(--white); */
  background-size: 200% 100%;
  background-position: 100% 0;
}

.divBorder {
  border: 1px solid var(--grey);
}

.square {
  display: inline-block;
  width: var(--label-font-size);
  height: var(--label-font-size);
  background-color: transparent;
  vertical-align: text-top;
  border: 1px solid black;
}

.link {
  text-decoration: none;
  color: var(--black);
}

@keyframes highlight-animation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.unhighlight {
  background: linear-gradient(
    to left,
    transparent 50%,
    var(--highlight-color) 50%
  );
  /* color: var(--black); */
  background-size: 200% 100%;
  background-position: 0 0;
}

@keyframes unhighlight-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.thumb-pin {
  position: absolute;
  width: var(--label-font-size);
  height: var(--label-font-size);
  transform: translateX(-50%);
  top: -0.5rem;
}

@font-face {
  font-family: "Old-Standard-TT";
  src: url("./fonts/Old_Standard_TT/OldStandardTT-Regular.ttf");
}

@font-face {
  font-family: "Old-Standard-TT-Italic";
  src: url("./fonts/Old_Standard_TT/OldStandardTT-Italic.ttf");
}

@font-face {
  font-family: "Old-Standard-TT-Bold";
  src: url("./fonts/Old_Standard_TT/OldStandardTT-Bold.ttf");
}

@font-face {
  font-family: "Impact";
  src: url("./fonts/Impact.ttf");
}

@media (max-width: 480px) {
  :root {
    --title-font-size: 4rem;
    --body-font-size: 1rem;
    --label-font-size: 0.8rem;

    --margin: 1rem;
  }
}
