html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(246, 244, 245);
}

:root {
  /* FONT SIZE */
  --title-font-size: 5.5rem;
  --body-font-size: 1.1rem;

  /* MISC */
  --margin: 1.4rem;
  --golden-ratio: 1.618;

  /* COLORS */
  --yellow: #f0ca00;
  --black: #0f0a0a;
}

body {
  /* color: #333; */
  margin: 0;
  box-sizing: border-box;
  font-family: "Old-Standard-TT";
  color: var(--black);
  line-height: 1.3;
}

@font-face {
  font-family: "Old-Standard-TT";
  src: url("./fonts/Old_Standard_TT/OldStandardTT-Regular.ttf");
}

@font-face {
  font-family: "Impact";
  src: url("./fonts/Impact.ttf");
}
